<div class="row" data-hook="admin_product_package_form_fields">
  <div class="col-md-6">
    <div data-hook="length" class="field">
      <%= f.label Spree.t(:length) %><br>
      <%= f.text_field :length, class: "form-control" %>
    </div>
    <div data-hook="width" class="field">
      <%= f.label Spree.t(:width) %><br>
      <%= f.text_field :width, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div data-hook="height" class="field">
      <%= f.label Spree.t(:height) %><br>
      <%= f.text_field :height, class: "form-control" %>
    </div>
    <div data-hook="weight" class="field">
      <%= f.label Spree.t(:weight) %><br>
      <%= f.text_field :weight, class: "form-control" %>
    </div>
  </div>
</div>