<div data-hook="admin_product_package_form_fields">
  <div class="six columns alpha">
    <div data-hook="length" class="field">
      <%= f.label t(:length) %><br>
      <%= f.text_field :length %>
    </div>
    <div data-hook="width" class="field">
      <%= f.label t(:width) %><br>
      <%= f.text_field :width %>
    </div>
  </div>
    <div class="six columns omega">
    <div data-hook="height" class="field">
      <%= f.label t(:height) %><br>
      <%= f.text_field :height %>
    </div>
    <div data-hook="weight" class="field">
      <%= f.label t(:weight) %><br>
      <%= f.text_field :weight %>
    </div>
  </div>
</div>

<div class="clear"></div>
