<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Product Packages' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<%= form_for @product, :url => admin_product_url(@product), :method => :put do |f| %>
  <table class="index">
    <thead>
      <tr data-hook="product_packages_header">
        <th><%= t(:length) %></th>
        <th><%= t(:width) %></th>
        <th><%= t(:height) %></th>
        <th><%= t(:weight) %></th>
        <th><%= t(:action) %></th>
      </tr>
    </thead>
    <tbody id="product_packages" data-hook>
      <%= f.fields_for :product_packages do |pp_form| %>
        <tr class="product_package fields"  data-hook="product_package">
          <td class='length'>
            <%= pp_form.text_field :length %>
          </td>
          <td class='width'>
            <%= pp_form.text_field :width %>
          </td>
          <td class='height'>
            <%= pp_form.text_field :height %>
          </td>
          <td class='weight'>
            <%= pp_form.text_field :weight %>
          </td>
          <td class="actions">
            <%= link_to_remove_fields t(:remove), pp_form %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= hidden_field_tag 'clear_product_packages', 'true' %>

  <p class="add_product_packages" data-hook="add_product_packages">
  <%= link_to_add_fields t(:add_product_packages), 'tbody#product_packages' %>
  </p>
  <div id="prototypes" data-hook></div>
    <%= image_tag 'spinner.gif', :plugin => 'spree', :style => 'display:none;', :id => 'busy_indicator' %>
    <br />
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
