<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>Active Shipping Settings</h1>

<table>
  <tr>
    <td>Origin Country:</td>
    <td><%= @config[:origin_country] %></td>
  </tr>
  <tr>
    <td>Origin State:</td>
    <td><%= @config[:origin_state] %></td>
  </tr>
  <tr>
    <td>Origin City:</td>
    <td><%= @config[:origin_city] %></td>
  </tr>
  <tr>
    <td>Origin Zip Code:</td>
    <td><%= @config[:origin_zip] %></td>
  </tr>
</table>

<table>
  <tr>
    <td>Units:</td>
    <td><%= @config[:units] %></td>
  </tr>
  <tr>
    <td>Unit Multiplier: <span>Default is 16 oz./lb - assumes variant weights are in lbs</span></td>
    <td><%= @config[:unit_multiplier] %></td>
  </tr>
  <tr>
    <td>Default Weight:</td>
    <td><%= @config[:default_weight] %></td>
  </tr>
  <tr>
    <td>Handling Fee:</td>
    <td><%= @config[:handling_fee] %></td>
  </tr>
  <tr>
    <td>Max Weight Package:</td>
    <td><%= @config[:max_weight_per_package] %></td>
  </tr>
  <tr>
    <td>Test Mode:</td>
    <td><%= @config[:test_mode] %></td>
  </tr>
</table>

<table>
  <tr>
    <td>FedEx Login:</td>
    <td><%= @config[:fedex_login] %></td>
  </tr>
  <tr>
    <td>FedEx Password:</td>
    <td><%= @config[:fedex_password] %></td>
  </tr>
  <tr>
    <td>FedEx Key:</td>
    <td><%= @config[:fedex_key] %></td>
  </tr>
  <tr>
    <td>FedEx Account:</td>
    <td><%= @config[:fedex_account] %></td>
  </tr>
</table>

<table>
  <tr>
    <td>UPS Login:</td>
    <td><%= @config[:ups_login] %></td>
  </tr>
  <tr>
    <td>UPS Password:</td>
    <td><%= @config[:ups_password] %></td>
  </tr>
  <tr>
    <td>UPS Key:</td>
    <td><%= @config[:ups_key] %></td>
  </tr>
  <tr>
    <td>UPS Shipper Number:</td>
    <td><%= @config[:shipper_number] %></td>
  </tr>
</table>

<table>
  <tr>
    <td>USPS Login:</td>
    <td><%= @config[:usps_login] %></td>
  </tr>
  <tr>
    <td>Canada Post Login:</td>
    <td><%= @config[:canada_post_login] %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_active_shipping_settings_path %></p>
